#{extends 'main.html' /}
#{set 'moreScripts'}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://www.jquery4u.com/scripts/function-demos-script.js"></script>
 
    <script type="text/javascript">
 
    var JQFUNCS =
    {
        runFunc:
        {
            /* ------------------------------ jsonp Demo ------------------------------ */
            "jsonp":
            {
                run: function(id)
                {
                    var demobox = $('#'+id);
                    demobox.html('<img id="loading" src="@{'/public//images/loading.gif'}">');
                    $.getJSON("http://shipit.herokuapp.com/shippingRate?jsoncallback=?",
                    {
                      zipCode: $("#zipCode").val()
                    },
                    function(data) {
                      demobox.html("<div class='alert alert-success'>Fedex Rate:<b>"+data.rate+"</b></div>");
                      $('#' + id + ' #loading').hide();
                    });
                },
 
                reset: function(id)
                {
                 	demobox.empty();   
                }
            }
        }
    }
 
    </script>
#{/set} 

<div class="row well">
<div class="span8 offset-2">
<p><label>Zip Code <input name="zipCode" id="zipCode"/></label></p>
<p class="example">Demo: JSON P to load data for a Fedex Shipping Rate calculator</p>
<p><a href="#" id="jsonp-demobtn" class="demobtn btn actionr btn-success btn large">Get Shipping Rate</a> <a href="#" id="jsonp-resetbtn" class="resetbtn btn btn-danger actionr" style="display: none;">Reset</a></p>
<div class="demoarea" id="jsonp" style="display:inline-block" class="well span8 offset-2"></div>
</div> 
</div>